/*******/
/*reset*/
/*******/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  /*line-height: 1.5;*/
  -webkit-font-smoothing: antialiased;
}

img:not(.icon-play, .icon-pause, .icon-sound-on, .icon-sound-off),
picture,
video,
canvas,
svg {
  display: block;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 21.5px;
  line-height: 32px;
  background-color: black;
  color: #b6b6b6;
  font-weight: 400;
  text-align: center;
}

.content-overlay {
  padding-top: 14vh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
}
.content-overlay img {
  margin-left: auto;
  margin-right: auto;
}
.content-overlay h1 {
  color: white;
  border: 1px solid red;
  font-size: 25.5px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 10vh;
}
.content-overlay p.intro {
  width: 545px;
  margin-left: auto;
  margin-right: auto;
}
.content-overlay .button {
  text-transform: uppercase;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  width: 189px;
  height: 36px;
  border: 1px solid #b6b6b6;
  display: flex;
  align-items: center;
}
.content-overlay .button span {
  width: 100%;
  font-size: 17.5px;
  display: inline-block;
  letter-spacing: 0.1em;
}
.content-overlay .footer-text {
  position: absolute;
  width: 100%;
  bottom: 2%;
  font-size: 13.5px;
}
.content-overlay .footer-text a {
  color: #b6b6b6;
  text-decoration: none;
}
.content-overlay .footer-text .smaller-footer-text {
  font-size: 11.5px;
}

@media only screen and (max-width: 700px) {
  .content-overlay {
    padding-top: 10vh;
    font-size: 18px;
  }
  .content-overlay img {
    max-width: 60%;
  }
  .content-overlay h1 {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .content-overlay p.intro {
    width: 85%;
    line-height: 1.5em;
  }
  .content-overlay .footer-text {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 12.5px;
    line-height: 1.8em;
  }
  .content-overlay .footer-text .companyaddress {
    display: block;
  }
}
@media only screen and (max-height: 745px) {
  .content-overlay .footer-text {
    margin-top: 40px;
    position: relative;
  }
}
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}